/* default settings */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color: currentColor;
}

ul,
ol,
menu {
	list-style: none;
}

img {
	max-width: 100%;
}

figure > img {
	display: block;
	width: 100%;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

/* colours */
:root {
	--blue: #0084FD;
	--light-blue: #B5DDFF;
	--violet: #9792E4;
	--yellow: #FDC15F;
	--dark-grey: #333333;
}

/* text */
.headline-s {
	font-size: 22px;
	font-weight: 700;
}

.bodytext-s {
	font-size: 14px;
	font-weight: 400;
}

.bodytext-m {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8em;
}

.bodytext-l {
	font-size: 18px;
	font-weight: 400;
}


/* layout */
.white-btn {
	background-color: white;
	color: var(--blue);
	border-radius: 50px;
}

.blue-btn {
	background-color: var(--blue);
	color: white;
	border-radius: 50px;
}

.violet-btn {
	background-color: var(--violet);
	color: white;
	border-radius: 50px;
}

.rounded-box {
	border-radius: 20px;
}

@media (min-width: 576px) { ... }

@media (min-width: 768px) {
	.col-12 {
		flex-basis: 100%;
	}

	.col-8 {
		flex-basis: calc((100% / 12) * 8);
	}

	.col-6 {
		flex-basis: calc(100% / 2);
	}

	.col-4 {
		flex-basis: calc(100% / 3);
	}
}

@media (min-width: 992px) { }

@media (min-width: 1200px) { ... }

@media (min-width: 1400px) { ... }




/* containers */
.container {
	max-width: 100%;
	/* padding: 0 30px; */
}


/* header */
.main-header {
	background-color: var(--blue);
	color: white;
}

/* header__nav */
.main-header__row {
	justify-content: space-between;
	align-items: center;
	padding: 18px 32px;
}

.header-menu__hamburger {
	font-size: 24px;
}

.header-menu__horizontal {
	display: none;
}

.header-menu__horizontal .row {
	font-size: 16px;
	font-weight: 400;
	line-height: 38px;
	gap: 30px;
}

.header-menu .white-btn {
	padding: 0 18px;
}

@media (min-width: 992px) {

	.header-menu__hamburger {
		display: none;
	}

	.header-menu__horizontal {
		display: contents;
	}
}

/* main */
.features {
	padding: 50px 20px 80px 20px;
}

.features .row {	
	row-gap: 24px;
}

.features [class^='col'] {
	padding: 0 12px;
}

.features .rounded-box {
	background-color: var(--light-blue);
	color: white;
}

.features__text {
	padding: 36px;
	display: flex;
	flex-direction: column;
	gap: 28px;
}

.col-8 .features__text {
	align-items: flex-start;
}

.col-4 .features__text {
	align-items: center;
	text-align: center;
}

.features__text .headline-s {
	color: var(--blue);
}

.features__text .bodytext-m {
	color: var(--dark-grey);
}

.features__text .blue-btn {
	padding: 0 50px;
	line-height: 40px;
}

.blue-icon {
	color: var(--blue);
	font-size: 60px;
}

.phone {
	width: 100%;
	max-width: 254px;
}

@media (min-width: 992px) {
	.features .rounded-box {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
	}
}




/* DEBUG */
.debug .container {
	border: 1px solid red;
	padding: 20px;
}

.debug .row {
	border: 1px solid pink;
	padding: 20px;
}

.debug .row > [class^='col'] {
	border: 1px solid orange;
	padding: 20px;
}